
body {
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}



a {
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

a:hover {
    color: #0056b3; 
}



.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #0056b3; 
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #f2f2f2; 
    font-weight: bold;
}



@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
}
